html {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(28, 28, 30);
}
.pulsionImg{
    width: 100%;
    margin-top: -252px;
}
.jazzImg{
    width: 80%;
    float: right;
}
.Pulsion > p{
    display: block;
    width: 15%;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    float: right;
    margin-right: 15%;
    text-align: right;

}
.Pulsion > h2{
    display: block;
    width: 15%;
    position: -webkit-sticky;
    position: sticky;
}

.Jazz > p{
    display: block;
    width: 15%;
    position: relative;  
    top: 50%x;
    float: left;
    color: white;
    text-align: left;
    position: -webkit-sticky;
    position: sticky;
}
.Jazz > h2{
    color: yellow;
    display: block;
    width: 15%;
    position: relative;  
    top: 50%x;
    float: left;
    position: -webkit-sticky;
    position: sticky;
}

.retour {
    size: 2em;
    background-color: yellow;
    color: rgb(28, 28, 30); 
    width: 40px;
    height: 20px;
/* haut | droit | bas | gauche */
    padding: 2px 2px 2px 2px;
    border-radius: 4px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: 10px;
    left: 10px;  
}
.intro > h1{
    width: 100%;
    height: 80px;
    align-content: center;
    margin: 0;
    padding: 0;
    font-size: 4em;
    text-align: right;
    position: relative;
    color: white;
  }

.retour > a {
    text-decoration: none;
}
.retour:hover {
    background-color:  gold;
}
a{ 
    color: rgb(28, 28, 30);
}
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    background-color: yellow;
    border: none;
    }
    footer > p{
        color: rgb(28, 28, 30);
        text-decoration: none;  
    }