html {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(28, 28, 30);
}
.intro > h1{
    width: 100%;
    height: 80px;
    align-content: center;
    margin: 0;
    padding: 0;
    font-size: 4em;
    text-align: right;
    position: relative;
    color: white;
  }
.part1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2%;
}
.part2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-flow: row-reverse;
    padding-bottom: 2%;
}
.commentaire{
 width: 38%;
}
.commentaire > h2{
    color: yellow
}
.commentaire > p{
    color: white
}
.storyboard{

    background-color: white;
    background-image: url(.\1.jpg) ;
    width: 100%;
    height: 100%; 
}
.storyboard > p 
{
    size : 1,2em;
}
#accident{
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    width: 100%;
    z-index: 0;
}

.storydisplay{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5% 10% 5% 10%;
    
    
}

.storydisplay > img {

    height: 15%;
    margin: 0 2% 0 2%;
    border: 3px solid rgb(28, 28, 30);
    z-index: 10;
    max-width: 720px;
    max-height: 360px;
    
}
.retour {
    size: 2em;
    background-color: yellow;
    color: rgb(28, 28, 30); 
    width: 40px;
    height: 20px;
/* haut | droit | bas | gauche */
    padding: 2px 2px 2px 2px;
    border-radius: 4px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -60px;
    left: 10px;
    text-decoration: none;
}
.retour > a {
    text-decoration: none;
    position: -webkit-sticky;
    position: sticky;
}
.retour:hover {
    background-color:  gold;
}


a{ 
    color: rgb(28, 28, 30);
}
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    background-color: yellow;
    border: none;
    }
    footer > p{
        color: rgb(28, 28, 30);
        text-decoration: none;  
    }
