html {
    font-family: Helvetica, Arial, sans-serif;

    background-color: rgb(28, 28, 30);
  }
 
  .intro > h1{
    width: 100%;
    height: 80px;
    align-content: center;
    margin: 0;
    padding: 0;
    font-size: 4em;
    text-align: right;
    position: relative;
    color: white;
  }
  iframe{
      padding-left: 5%

  }
  .textDecal1{
    padding-inline-start: 5%;
    color: white;
  }

.gallerie{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2% 0 2% 0;
    justify-content: center;
}
.gallerie > img{
 max-width: 640px;
 max-height: 320px;
}
.layoutBTN{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
}
.retour {

    size: 2em;
    background-color: yellow;
    color: rgb(28, 28, 30); 
    
    
    height: 20px;
/* haut | droit | bas | gauche */
    padding: 2px 2px 2px 2px;
    border-radius: 4px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: 10px;
}
.retour > a {
    text-decoration: none;
}
.retour:hover {
    background-color:  gold;
}
a{ 
    color: rgb(28, 28, 30);
}
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    background-color: yellow;
    border: none;
    }
    footer > p{
        color: rgb(28, 28, 30);
        text-decoration: none;  
    }