html {
    font-family: Helvetica, Arial, sans-serif;

    background-color: rgb(28, 28, 30);
  }
 

header > h1{
    width: 100%;
    height: 80px;
    align-content: center;
    margin: 0;
    padding: 0;
    font-size: 4em;
    text-align: right;
    position: relative;
    color: white;
  }


span {
    font-size : 0.5em;
}
.intro{
    width: 50%;
    justify-content: center;
    padding-top: 5%;
    padding-left: 20%;
    
}
.intro > p {
    color : white;
}
.medaillon{
    float: left;
    margin: 0 0 0 10px;
    width: 5%;
}
.medaillon:hover{
    filter: blur(4px);
}
.lien {
    font-size: 3em;
    color : rgb(28, 28, 30);
    background-color: yellow;
    text-decoration: none;
    border-radius: 4px;
    vertical-align: middle;
    margin: 1% 0 1% 0%;
    padding: 0% 0 0% 5%;

}

.lien:hover {
    background-color: gold;
    color: black;
  }
.index{
/* haut | droit | bas | gauche */
    padding: 5% 0 5% 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.audio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* haut | droit | bas | gauche */
    padding: 0 0 10% 0;
    flex-wrap: wrap;

}
audio{
    background-color: rgb(28, 28, 30);
    border: solid 4px yellow;
    border-radius: 4px;
    
}
#play1 > h2 {
    color: white;
}
#play2 > h2 {
    color: white;
}



footer{
display: flex;
flex-direction: row;
width: 100%;
justify-content: space-around;
background-color: yellow;
border: none;
}
footer > p{

    color: rgb(28, 28, 30);

   
}
.piedPage{ 
    color: rgb(28, 28, 30);
}
